
hr
{
    margin-top: 5px;
    border:none;
    border-top: 3px dotted black;
}
#main-img 
{
    position: absolute;
    z-index: -1;
}

#main-img img{
    width: 1920px;
    height: 737px;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    width:1920px;
    height: 737px; /*가로와 세로가 정의되어있어야 justify와 aligin이 적용됨.*/
}

#opacity-bg
{
    background-color: rgba(255,255,255,0.4);
    width:95%;
    height:90%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#left-content{
    background-color: white;
    width:35%;
    height:90%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgb(65, 63, 63);
    margin-right:2%; /*띄우기....*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-first-content
{
    width:90%;
    height: 95%;
    
}


#clock-greeting-div
{
    margin-bottom: 20px;
}
#clock-greeting-div> #clock
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:80px;
    text-align: center;
}
#greeting_div>#greeting
{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-top:30px;
    -webkit-animation: greeting 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: greeting 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    display: inline; /*한줄에 넣기위해*/

}
#greeting_div> span{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*-------------날씨 아이콘------------------*/
#weater-quotes-div
{
    width: 574px;
    height: 230px;
    text-align: center;
    padding-top:15px;
}


#weater-quotes-div>img{
    width:170px;
    height: 170px;
}
#weather > span
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    width:inherit;
}

#weather > span:nth-child(3)
{
    padding-left: 10px;
}


/*------------로그아웃 버튼-----------*/
#logout-but-div
{
    margin-top:20px;
    position: relative;
    height: 100px;


}
#logout
{
    position:absolute;
    font-weight: 1000;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    font-family:'Rubik',sans-serif; 
    font-size:15px;
    width: 120px;
    height: 50px;
    line-height: 1.25;
    background: lightgray;
    text-decoration: none;
    letter-spacing: 0.08em; /*글자사이 간격*/
    outline:none; 
    border: none; 
    transition: background-color .6s ease;
    overflow: hidden;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#logout::after{
    content: ""; /* 빈칸이 있어야함.*/
    position: absolute;
    width: 0;
    height: 0;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
    
}
#logout:focus,#logout:hover {
    background: gray;
}
#logout:active::after {
    width: 300px;
    height: 300px;
  }

  /*-----------명언-------------*/
  #quotes_div
  {
    display:flex;
    height: 70px;
    width:574px;
    background-color: black;
    border-radius: 15px;
    font-style: italic;
    color:aliceblue;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #quotes_div span{
    display: block;
  }

/*애니메이션 효과*/
@-webkit-keyframes greeting {
    0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
  }
  @keyframes greeting {
    0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
  }
  /*-----------------------------왼쪽끝---------------------------------------------*/
/*-----------------------------오른쪽시작---------------------------------------------*/

#right-content
{
    width:60%;
    height:90%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgb(65, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;

}
#line
{
    width:2.5%;
    height: 90%;
    border-right:dotted black;
}
#r-left-div
{
    width:55%;
    height: 90%;
}
#r-right-div
{
    margin-left:2.5%;

    width:32.5%;
    height: 90%;
}


.month{
    color: #fff;
    font-size: 22px;
    text-align:center;
    margin-left: -25px;
    margin-bottom: 20px;
    padding: 10px;
}

.month .fas{
    cursor: pointer;
    transition: all .2s ease-in-out;
}